<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Hello, world!</title> 
    <link rel="icon" type="image/x-icon" href="/static/images/SCLogo.png">
  </head>
  <body>
   
    <nav class="navbar navbar-light bg-warning ">
      <div class="container-fluid">
         <a class="navbar-brand" href="FFdashboard">
          <img src="/static/images/baseline_arrow_back_black_24dp.png" width="35" height="35">
         </a>
         <h2 class="nav-item text-center">EMPLYOYEE</h2>
         <h2 class="nav-item text-center"></h2>     
      </div>
  </nav>
  <div class="container mt-3"> 
    <div class="row">

    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
       <a class="nav-link active" data-bs-toggle="tab" href="#Vtotal"><b>Total Visitors</b><br><h3>{{ total_visitors }}</h3></a>
      </li>
      <li class="nav-item">
       <a class="nav-link" data-bs-toggle="tab" href="#Vpersonal">Personal Visits<br><h3>{{ visitors_personal }}</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Vbusiness">Business Visits<br><h3>{{ visitors_business }}</h3></a>
      </li>
    </ul>
    </div>
  </div>

  <div class="tab-content">
    <div class="tab-pane container active" id="Vtotal">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col-md-5">#</th>
              <th>Name</th>
              <th class="th-lg">Contact Number</th>
              <th>Email</th>
              <th>Date</th>
              <th>Time</th>
              <th>Whom To Meet</th>
              <th>purpose</th>
              <th>Reason</th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr>
              
              {% for meetings in teacher_meeting %}
              
                <tr>   
                  <th scope="row">{{ loop.index }}</th>
                    <td>{{meetings.name}}</td>
                    <td>{{meetings.contact_number}}</td>
                    <td>{{meetings.email}}</td>
                    <td>{{meetings.date}}</td>
                    <td>{{meetings.time}}</td>
                    <td>{{meetings.whom_to_meet}}</td>
                    <td>{{meetings.purpose}}</td>
                    <td>{{meetings.reason}}</td>
                   
                  
                </tr>
                {% endfor %}
             
            </tr>
            
          </tbody>
        </table>
      </div>

    </div>
  
    <div class="tab-pane container fade" id="Vpersonal">

      <div class="container mt-3"> 
        <div class="row">
           
          <table class="table table-light table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Whom To Meet</th>
                <th>purpose</th>
                <th>Reason</th>
                
              </tr>
            </thead>
            <tbody>
              {% for meetings in teacher_meeting_personal %}
                  <tr>   
                     <th scope="row">{{ loop.index }}</th>
                      <td>{{meetings.name}}</td>
                      <td>{{meetings.contact_number}}</td>
                      <td>{{meetings.email}}</td>
                      <td>{{meetings.date}}</td>
                      <td>{{meetings.time}}</td>
                      <td>{{meetings.whom_to_meet}}</td>
                      <td>{{meetings.purpose}}</td>
                      <td>{{meetings.reason}}</td>
                  </tr>
                  {% endfor %}
                  

                  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <div class="tab-pane container fade" id="Vbusiness">

      <div class="container mt-3"> 
        <div class="row">
           
          <table class="table table-light table-responsive">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th>Name</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Whom To Meet</th>
                <th>purpose</th>
                <th>Reason</th>
                
              </tr>
            </thead>
            <tbody>
              {% for meetings in teacher_meeting_business %}
                  <tr>   
                      <th scope="row">{{ loop.index }}</th>
                      <td>{{meetings.name}}</td>
                      <td>{{meetings.contact_number}}</td>
                      <td>{{meetings.email}}</td>
                      <td>{{meetings.date}}</td>
                      <td>{{meetings.time}}</td>
                      <td>{{meetings.whom_to_meet}}</td>
                      <td>{{meetings.purpose}}</td>
                      <td>{{meetings.reason}}</td>
                    
                  </tr>
                  {% endfor %}
                  

                  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    
   


    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
      
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

